{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biología</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a Biología</h1><br>
        <h3>Artículo científico</h3><br>
        <p>
            El artículo se encuentra en la zona de Lengua.
        </p>
        <p>
            Visita esta página elborada por nosotros para calcular tu índice de masa corporal y brindarte información al respecto. 
          </p>
          <p><a href="http://abrunooo.atspace.cc/imc.php" target="_blank">Calcular quema de calorías según ejercicio</a></p>
    </div>
</body>
</html>
{% endblock %}