{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
  <div class="container">
  <h1>Bienvenidos a Ciencias Físicas</h1><br>
  <h3>Calculo de quema de calorías</h3><br>
  <p>
    El ejercicio aeróbico es la forma más eficaz de quemar calorías e incluye actividades como caminar, andar en bicicleta y nadar. Un objetivo general es incluir al menos 30 minutos de actividad física en su vida diaria.
  </p>
  <p>
    Si desea perder peso o alcanzar un objetivo en particular, es posible que necesite más tiempo para la actividad física. Si no puede encontrar un tiempo de entrenamiento más largo, intente 10 minutos de entrenamiento durante el día. Tenga en cuenta que cuanto más activo sea, mayores serán los beneficios.
  </p>
  <p>
    Los expertos también recomiendan ejercicios de fortalecimiento como levantar pesas al menos dos veces por semana. La construcción de músculo es importante porque ayuda a desarrollar músculo. El tejido muscular quema más calorías que el tejido graso
  </p>
  <p>
    Lo más importante es cuidar tu alimentación y ser productivo en tu diario vivir
  </p>
  <p>
    Visita esta página elborada por nosotros para elegir un ejercicio y determinar el tiempo que necesitas para despedirte de las calorías que desees. 
  </p>
  <p></p><a href="https://www.youtube.com/watch?v=Chk4tCMRBxk" target="_blank">Calcular quema de calorías según ejercicio</a></p>
  <center><img src="https://static.vecteezy.com/system/resources/previews/001/829/765/non_2x/girls-exercise-running-on-a-treadmill-inside-the-house-wearing-sexy-sports-clothes-to-burn-calories-and-nourish-heartbeat-with-city-views-flat-illustration-concept-for-landing-page-website-free-vector.jpg" width="300" height="250"></center>
</div>
</body>
</html>
{% endblock %}