{% extends "layout.html" %}
{% block content %}
<div class="container p-4">
<h1>Dieta</h1>
<br>
<p>¿Qué se considera una buena dieta? ¿Cómo sabe el deportista si es la adecuada para él? Desde Sanidad indican que para
    que un régimen sea considerado como equilibrado tiene que otorgar la energía suficiente para proporcionar todos los
    nutrientes que necesiten las personas en las cantidades adecuadas. Dicho esto, cada dieta se debe adecuar al
    individuo debe acoplarse al tipo de ejercicio y a la cantidad de sesiones que tiene por día, (los siguientes son
    recomendaciones y/o ideas de dietas).
</p>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Comidas</th>
        <th scope="col">Lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miércoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Viernes</th>
        <th scope="col">Sábado</th>
        <th scope="col">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Desayuno</th>
        <td>Tortilla, frutos secos y frutas. </td>
        <td>Leche con chocolate sin azúcar y tostada. </td>
        <td>Avena con leche y avellana. </td>
        <td>Leche con proteínas o avellanas. </td>
        <td>Tostada con crema y jugo de naranja. </td>
        <td>Leche y fruta. </td>
        <td>Yogurt con frutas rojas o avellanas. </td>
      </tr>
      <tr>
        <th scope="row">Almuerzo</th>
        <td>Ensalada con trocitos de pollo. </td>
        <td>Pollo con nueces y ensalada con tomates. </td>
        <td>Pollo en fajitas y fruta. </td>
        <td>Pan integral con jamón de pavo. </td>
        <td>Ensalada de fruta o vegetales hervidos. </td>
        <td>Fajita de pollo con vegetales. </td>
        <td>Pollo a la plancha con ensalada de vegetales. </td>
      </tr>
      <tr>
        <th scope="row">Snack</th>
        <td>Yogurt griego con fruta. </td>
        <td>Frutos secos. </td>
        <td>Plátano o frutos secos. </td>
        <td>Tostada con aguacate. </td>
        <td>Sándwich integral. </td>
        <td>Tostada con aguacate. </td>
        <td>Almendras o banana. </td>
      </tr>
      <tr>
        <th scope="row">Cena</th>
        <td>Crema con verduras y salmón.</td>
        <td>Verduras hervidas.</td>
        <td>Papa al horno.</td>
        <td>Papa hervida con queso.</td>
        <td>Pollo a la plancha con pimenton.</td>
        <td>Salmon con espárragos.</td>
        <td>Sopa de esparragos.</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}