{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geografía</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a Geografía</h1><br>
        <h2>Diferencias entre la alimentación española y salvadoreña</h2><br>
        <h3>Alimentación española</h3><br>
        <p>
            La dieta media española es sinónimo de una dieta sana y cuidada basada en las últimas investigaciones sobre la relación entre dieta y salud, ya que se asocia a una baja incidencia de diversas enfermedades crónico degenerativas. Enfermedades que son frecuentes en los países desarrollados y que además tienen en cuenta la esperanza de vida de la población española más alta del mundo.
        </p>
        <p>
            Su alimentación se basa en el consumo de una amplia gama de verduras, hortalizas, frutas, cereales y legumbres, que constituyen más de la mitad de la dieta y son muy buenas para consumir carbohidratos, fibra, minerales, vitaminas antioxidantes y otros nutrientes. La pectina, caroteno y polifenoles pueden ser especialmente útiles para prevenir enfermedades degenerativas.
        </p>
        <p>
            También se basa en un consumo moderado de productos lácteos y carnes. Algunas áreas contienen grandes cantidades de alcohol en forma de pescado, aceite de oliva y vino. Sin embargo, si bien la dieta española promedio sigue siendo satisfactoria, durante los últimos 
            años, algunos cambios importantes han empeorado la dieta de alguna manera.
        </p>
        <center>
            <img src="https://www.elconfidencialdigital.com/asset/zoomcrop,1366,800//media/elconfidencialdigital/images/2017/08/10/ECDIMA20170810_0019_1.jpg" width="600" height="400">
         </center><br>
        <p>
            La cocina original, que oscila entre los estilos rural y costero, es el resultado de una gran diversidad cultural, paisajística y climática. La cocina española ha tenido una fuerte influencia a lo largo de la historia de los pueblos y naciones que conquistaron su territorio. Luego conquistó y reclamó. Esta situación le proporcionó muchas técnicas e ingredientes de cocina.
        </p><br>
        <h3>Alimentación salvadoreña</h3><br>

        <p>
            Una dieta variada y equilibrada asegura un correcto desarrollo durante la infancia y la adolescencia, y previene la aparición de enfermedades asociadas a una nutrición inadecuada en todas las etapas de la vida. En El Salvador, no solo está aumentando el número de niños y adultos con sobrepeso y obesidad, sino que cada vez más personas padecen desnutrición, anemia, osteoporosis y otras enfermedades causadas por la desnutrición. También están aumentando otros factores de riesgo importantes, como el cáncer, la hipertensión y la diabetes, que no están bien equilibrados en la dieta. El propósito de esta guía es brindar a la familia salvadoreña conocimientos actualizados y obtener una nutrición óptima a través de una dieta adecuada.
        </p>
        <p>
            Dieta Básica Salvadoreña:
        </p>
        <p>
            Los platos típicos varían ya que pueden contener los siguientes ingredientes: 
            Verduras o legumbres: frijoles y arroz, mandioca, papas, frijoles y arroz, carnes: pollo y pescado, productos lácteos: queso, tofu, queso duro y fresco, y las inigualables tortilla.

        </p><br>
        <center><img src="https://diarioelsalvador.com/wp-content/uploads/2021/01/Pupusas-003.jpg" width="600" height="400"> </center><br>
        <h3>Cuadro comparativo</h3><br>
        <table class="table table-success table-striped">
            
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">El Salvador</th>
                    <th scope="col">España</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mejor calidad de vida, cuidan de su alimentación. </td>
                    <td>La salud empeora, debido al consumo excesivo de grasas. </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Cultivos enfocados en los granos básicos. </td>
                    <td>Producción en el campo mayormente de hortalizas. </td>
                  </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>La población conoce los beneficios de seguir una dieta sana. </td>
                        <td>Falta de información sobre la relación entre las comidas y la salud. </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Personas más sedentarias, el buen salvadoreño siempre come lo que hay en casa, sin seguir plan alimenticio. </td>
                        <td>Sociedad más activa, se ejercita constantemente y son fieles a la dieta mediterránea, es decir no se saltan platillos. </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>El sueldo elevado permite el adquirir ciertos productos beneficiosos. </td>
                        <td>La paga del trabajo suele ser baja, y solemos comprar para lo que alcanze. </td>
                    </tr>
                </tbody>
              
          </table><br>
    </div><br>


</body>
</html>
    
{% endblock %}