{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informática</title>
</head>

<body>
    <div class="container p-4">
        <h1>Bienvenidos a Información</h1><br>
        <h1>Creación del código</h1><br>
        <p>El archivo <mark>.cpp</mark> lo podrá encontrar en el siguiente <a href="https://drive.google.com/drive/folders/1QmsfJg8KE15bLB0wPxi-VrBXuPgQ96Fk?usp=sharing" target="_blank">link.</a> También verá un archivo llamado <mark>juegonave.cpp</mark> lo creé como extra :)</p>
        <p>La presentación <a href="https://www.canva.com/design/DAEnAPDVmxI/YxSHMjZdxRIGqjKXzk7vMg/view?utm_content=DAEnAPDVmxI&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" target="_blank">aquí.</a></p>
        <br>
        <h3>Planteamiento del problema</h3>
        <p>
            Elaboraremos una página web que muestre al usuario una página principal con acceso a ventanas que lo lleven
            a diferentes puntos respecto a cada asignatura, en el área de informática, pediremos los datos necesarios
            para calcular el IMC, para dar consejos o dietas dependiendo del resultado y la cantidad de micronutrientes
            necesarios para gozar de un estilo de vida sano y lleno de vitalidad. 
        </p><br>
        <h4>Caja Negra</h4><br>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Procesos</th>
                    <th scope="col">Salidas</th>
                </tr>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <p>p=peso</p>e=estatura<p></p>
                        <p>a=años</p>
                        <p>s=sexo</p>
                    </td>
                    <td>
                        <p>IMC=p/e*e</p>
                        <p>TMB=(10*p)+(6,25*e)-(5*a)+5</p>
                        <p>TMB=(10*p)+(6,25*e)-(5*a)+161</p>
                        <p>IDA=TBM*1.2</p>
                        <p>IDA=TBM*1.373</p>
                        <p>IDA=TBM*1.55</p>
                        <p>IDA=TBM*1.725</p>
                        <p>IDA=TBM*1.9</p>
                    </td>
                    <td>
                        <p>IMC=índice de masa corporal</p>
                        <p>Dieta a realizar</p>
                        <p>TMB</p>
                        <p>IDA</p>
                    </td>
                </tr>
                </thead>
        </table><br>

        <h3>Flujograma</h3><br>
        <p><a href="https://drive.google.com/file/d/1lCJUuI6wGUGxCmwS4SBOueTqDyy9txnQ/view?usp=sharing" target="_blank">Flujograma para calcular IMC</a></p>
        <p><a href="https://drive.google.com/file/d/1JIkAZGV8SUYXqrIqGiinkD7eepNgvn4_/view?usp=sharing" target="_blank">Flujograma para calcular macros</a></p><br>
    </div><br>
</body>

</html>

{% endblock %}