{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lengua</title>
</head>
<body>
    <div class="container p-4">
        <h1>Bienvenidos a Lengua</h1><br>
        <h3>Creación de spot publicitario</h3><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pF6VoWspEI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
        <h3>Fortalecimiento de nuestro sistema inmune con una buena nutrición y biomoléculas balanceadas en nuestro organismo. </h3><br>
        Cabrera Rauda, Marjorie Nicole<br>
        Castillo Cabrera, Marian Esmeralda<br>   
        Castro Barrera, Rodrigo Ariel<br>  
        Chacón Bruno, Alessandro René<br>
        Hernández Vargas, Daniel Alessandro<br>
        <br>
        <p>
           <mark>En resumen:</mark> Este estudio presenta un análisis de los alimentos y nutrientes que el cuerpo necesita para el fortalecimiento del sistema inmune,  así como del peso ideal que debería tener una persona dependiendo de su edad, altura y peso, el cual se obtiene con la fórmula del IMC. 
        </p>
        <p>
            <mark>Palabras clave:</mark> Biomoléculas, nutrientes, IMC. 
        </p>
        <h4>1. Introducción</h4><br>
        <p>
            Una biomolécula es un compuesto químico que se encuentra en los organismos vivos. Están formadas por sustancias químicas compuestas principalmente por carbono, hidrógeno, oxígeno, nitrógeno, sulfuro y fósforo.
        </p>
        <p>
            Las biomoléculas son el fundamento de la vida y cumplen funciones imprescindibles para los organismos vivos. 
        </p>
        <p>
            Se pretende demostrar lo importantes que son las biomoléculas para darnos los nutrientes necesarios en una dieta balanceada y así ir fortaleciendo nuestro sistema inmune. 
        </p>
        <p>
            Esta investigación será orientada, más específicamente  al estudio de una dieta balanceada, la cual contenga las biomoléculas que sean necesarias en el organismo de cada persona. Como es que estás ayudan a que una persona baje de peso, suba o se mantenga en su peso ideal, demostrando así como una dieta balanceada puede prevenir enfermedades como diabetes, problemas del corazón, de los huesos, etc
        </p>
        <p>
            El interés detrás de esta investigación es demostrar la importancia y facilidad de seguir una dieta saludable y mantenerla, ya que esta siendo acompañada de ejercicio físico es la mejor manera de llevar una vida sana y saludable.
        </p><br>
        <h4>2. Objetivos</h4><br>
        <p>
            <mark>General:</mark> Desarrollar una página web que permita al usuario encontrar en ella información nutricional para mantener una vida sana y un sistema inmune estable, también que permita r conocer la importancia de llevar no cualquier dieta, si no la que mejor se adapte a su situación se salud.
        </p>
        <p>
            <mark>Específicos:</mark> Mostrar los principales beneficios de llevar una dieta saludable en el cuerpo humano.<br> 

            Brindar un análisis del estado en que se encuentra la salud nutricional de las personas.<br>  
            
            Brindar en el tipo de dieta que amerita la condición de la persona, basado en su IMC. 
        </p><br>
        <h4>3. Conceptos generales</h4><br>
        <p>
            Es importante tanto adoptar costumbres de nutrición como de ejercicio físico, ya que contribuyen a mejorar la calidad de vida, para tener al cien  nuestra salud, es necesario saber que de la inmensa cantidad de alimentos que existen, no todos son apropiados para llevar un buen estilo de vida. 
        </p>
        <p>
            Las biomoléculas orgánicas están formadas mayormente de carbono (C), hidrógeno (H) y oxígeno (O)   y con un poco cantidad de azufre (S) y fósforo (P) las biomoléculas inorgánicas son todas aquellas que no tiene carbono en su composición. 
        </p>
        <p>
            Las biomoléculas inorgánicas son el agua y los minerales. 
        </p>
        <p>
            Las biomoléculas orgánicas se dividen en: Glúcidos o carbohidratos, Lípidos, Proteínas, Ácidos nucleicos y Vitaminas.
        </p>
        <p>
            <mark>Dieta balanceada:</mark> es aquella que no permite una ganancia neta ni la pérdida de nutrientes del cuerpo para mantener el equilibrio metabólico. 
        </p>
        <p>
            <mark>La alimentación:</mark> es el conjunto de acciones mediante las cuales se proporcionan alimentos al organismo.
        </p>
        <p>
            <mark>Nutrición:</mark> es la ciencia que comprende todos aquellos procesos mediante los cuales el organismo incorpora, transforma y utiliza, las sustancias químicas (nutrientes) contenidas en los alimentos.
        </p>
        <p>
            <mark>Alimentación saludable: </mark> es aquella que proporciona los nutrientes que el cuerpo necesita para mantener el buen funcionamiento del organismo, conservar o restablecer la salud, minimizar riesgo a enfermedades y más.
        </p><br>
        <h4>3.1 ¿Cómo reaccionaría el sistema inmunológico con una dieta saludable?</h4><br>
        <p>
            El sistema inmunológico es el encargado de mantenernos sanos, proteger al cuerpo de antígenos como virus, bacterias y un sinnúmero de enfermedades, pero una falta de sueño o de una mala dieta alimenticia lo debilita , para subir las defensas existen ciertos tipos de alimentos que ayudan a mejorar el sistema inmune,  como los alimentos con vitamina A y C, por eso es que cuando una persona empieza a comer saludable y duerme las horas de sueño necesarias, empezará a sentir mucha energía, si esto se convierte en un hábito, su ritmo de vida se mantendrá saludable y su sistema inmunológico será más fuerte y soportará mejor las enfermedades, ya que tendrá un respaldo que lo mantenga en lo alto.  
        </p>
        <h4>3.2 ¿En qué consiste una dieta saludable?</h4><br>
        <p>
            Una dieta equilibrada significa obtener los tipos y cantidades adecuados de alimentos y bebidas para proporcionar nutrientes y energía que el organismo necesita y mantener en buen estado los órganos, tejidos y células del cuerpo, para poder funcionar perfectamente. 
        </p>
        <p>
            La dieta debe ofrecer todos los nutrientes que el cuerpo pueda asimilar, una dieta balanceada debe tener fruta, verduras, huevos, carnes y legumbres y debe cumplir con cuatro características; variedad, frecuencia, moderación y humectación, esta es diferente según el estado de salud de la persona, ya que puede que algunas personas tengan restricciones para comer ciertos alimentos, como es el caso de las personas diabéticas, hipertensas o alérgicas. 
        </p><br>
        <center><img src="https://lh5.googleusercontent.com/rKTubKj_fjwQgnUk5Obwl9vlxDPBPrBBPSKmaX3FPs-vfKYQtxEpjI4Wk99-jAsvihfig1I--0McRH_LR82tfBAx5iwYHdbnIOBz9Rwk-sUvDznw0erZgp3ofiHZPgyHdqFsZMPd" width="400" height="250"></center><br>
        <h4>3.3 Parámetros de ínteres </h4><br>
        <p>
            IMC: es un número calculado en función del peso y la altura de una persona. Para la mayoría de las personas, el IMC es un indicador de grasa confiable que se usa para identificar categorías de peso que pueden causar problemas de salud. Este puede variar dependiendo de la edad. 
        </p><br>
        <center><img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-OkJrIo8Y96OKPI50R-AOoE7rv2DPL1yqvJNDfZCWWNeqxIKDuDjFUkOMCNEDHCA3a3TyFkGAdEUR8EClC6YNHbl3z6ZAmQ4KTh3Es"></center><br>
        <p>
            Gráfico del índice de masa corporal (IMC)
        </p>
        <p>
            Calorías: la cantidad de calorías que se deben consumir diariamente, según la Organización Mundial de la Salud (OMS), es un promedio de 2.000/2.500 calorías al día para hombres y entre 1.500 y 2.000, para las mujeres. 
        </p><br>
        <h4>3.4 Fórmula para calculo de IMC</h4><br>
        <p>
            La fórmula del IMC es el peso (kg) dividido por la altura (m) al cuadrado (kg / m²), sirve para identificar el estado de sobrepeso de una persona. 
        </p><br>
        <center><img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-NoWq3uEEncJcaCnwDHzGEUyubavU9ToocDSb6UzSHQGqCCOgnnwIsZknfs3EeVfbDSSdxMgVvBMOt5G49OCQAf33ShzfvvsyFFWTU"></center><br>
        <h4>4. Conclusiones </h4><br>
        <p>
            Tener una dieta balanceada en nuestras vidas no es una cuestión de querer aparentar un buen compromiso con nuestra salud por estética, sino que nos ayuda a mantener fuerte y sano nuestro sistema inmunológico, previniendo así muchas enfermedades. En fin conocer nuestro cuerpo es una tarea que nunca acaba y con las dietas que nos corresponden podemos mantener nuestro cuerpo muy sano, solo debemos tomar compromiso con nuestra salud. 
        </p>
        <p>
            También se puede observar que el IMC es muy importante para ser conocedores de los rangos de peso normales para nuestro organismo y tomar acción en caso de no ser así. 
        </p><br>
        <h4>5. Bibliografía</h4><br>
        <p>
            [1] Isabel Rodríguez. (2017). Método Creff: Cómo calcular tu peso ideal. 2021, de Ellahoy Sitio web: <a href="https://www.ella-hoy.es/dietas/articulo/metodo-creff-como-calcular-tu-peso-ideal/294569/ " target="_blank">Link de la página</a>
        </p>
        <p>
            [2] CDC. (2021). Índice de masa corporal. 2021, de CDC Sitio web:<a href="https://www.cdc.gov/healthyweight/spanish/assessing/bmi/index.html" target="_blank">Link de la página</a>
        </p>
        <p>
            [3] Consejo latinoamericano de proteína animal . (2018). ¿Qué es una dieta balanceada? 2021, de Consejo latinoamericano de proteína animal Sitio web: <a href="https://www.alimentacionbalanceada.com/que-es-una-dieta-balanceada/" target="_blank">Link de la página</a>
        </p>
        <p>
            [4] Montse Vilaplana i Batalla. (2010). Nutrición y sistema inmunitario, Una relación muy estrecha. 2021, de Elsevier Sitio web: <a href="https://www.elsevier.es/es-revista-offarm-4-articulo-nutricion-sistema-inmunitario-una-relacion-X0212047X10875671" target="_blank">Link de la página</a>
        </p>
        <p>
            [5] Medline Plus . (2005). Dieta balanceada. 2021, de Medline Plus Sitio web: <a href="http://www.funsepa.net/medlineplus/spanish/ency/article/002449.htm" target="_blank">Link de la página</a>
        </p><br>
    </div>
</body>
</html>
      
{% endblock %}

 
 

