{% extends "layout.html" %}
{% block content %}
<div class="container p-4">
    <h1>Bienvenidos a Lite</h1><br> 
    <h2>Creación de texto argumentativo</h2><br>
    <h3>¿Qué es la dieta mediterránea?</h3>
    <p>
        La dieta mediterránea es un patrón alimentario que es complementado con la práctica de ejercicio físico y el clima de los países ribereños con del mar Mediterráneo, tiene múltiples beneficios para la salud, estudios revelaron que la dieta mediterránea está asociada con la reducción de los factores de riesgo de enfermedades cardiovasculares, en términos de alimentación, la dieta se basa en los ingredientes propios de la agricultura local de los países con clima mediterráneo. Se resume en reducir el consumo de carnes e hidratos de carbono en beneficio de más alimentos vegetales y grasas mono insaturadas. 
    </p>
    <p>
        Es reconocida por la Organización Mundial de la Salud como una dieta sana y sostenible, y por la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura como un activo cultural intangible. 
    </p>
    <center><img src="https://lh5.googleusercontent.com/o-WMIl4ygaoy_Oytkh2a7iMwQsEXH-8fyf6AHPRipIjFcaMtsOoSdT9hFDWtTPEWti_vZjfKJd4otLx2TmUL8jiYHM7XQX3s2g3g-1GGP_LUQPca8Jz6GuVGGQR2wptjbFJt2S0r" width="300" height="250"></center><br>
    <h3>Comer al estilo mediterráneo</h3>
    <p>
        Entre las muchas propiedades beneficiosas para la salud de este patrón alimentario se puede destacar el tipo de grasa que lo caracteriza, pescado, frutos secos y aceite de oliva que gracias al ácido oleico y a sus grasas de origen vegetal disminuye el riesgo de padecer obstrucciones en las arterias, y tiene un alto contenido en carotenos y vitamina E., las proporciones en los nutrientes principales que guardan sus recetas (cereales y vegetales como base de los platos y carnes o similares como “guarnición”) y la riqueza en micronutrientes que contiene, fruto de la utilización de verduras de temporada, hierbas y condimentos. 
        El seguimiento de la dieta mediterránea, además de ayudar a controlar el peso e incrementar la sensación de bienestar físico, mejora del funcionamiento de diversos órganos, como el riñón y el corazón.  
    </p><br>
    <center><img src="https://lh6.googleusercontent.com/ytnydmh6XdqXcwo_eIV8H3Da0Eipyxs9t9NrySo8i1FJaUo3xEZ68nkyTuUndBMWra7hguz6sBdFHoVMjsuSBHohYmwqhj_32dnGxmxSK6e6sChby08HOau4doe5xAa9c231UkOe" width="300" height="250"></center><br>
    <p>
        Los beneficios para la salud que supone esta dieta son más significativos cuando se combinan con el ejercicio físico moderado, pero a ser posible ha de realizarse durante al menos 30 minutos diarios, cinco días por semana. Opciones como caminar a paso ligero, correr, , pero también se puede recurrir a cualquier otro deporte o actividad que ayude a la quema de calorías. Así, contribuye a bajar de peso, controlar la presión arterial, y a atrasar el deterioro cognitivo. La práctica habitual de ejercicio físico también ofrece protección contra enfermedades crónicas como la diabetes o el Alzheimer. Asimismo, se ha descubierto que la tasa de mortalidad por cáncer es menor entre quienes practican esta dieta que en los países del norte de Europa o de América, que tienden a abusar más de comida rápida, los alimentos precocinados y las grasas. 
    </p>
    <h3>Pirámide tradicional de la dieta Mediterránea (DM)</h3><br>
    <center><img src="https://lh3.googleusercontent.com/woHW4y_6oP5P0aj0UmgVGsqg1aJRNlNG2nSWQWQZnQ6vzGL5HCwPD_WujDx4lHVC3U6_lHBxWnMXWTG_zayoZIF4sSOzjvUXFIM53_RRVQ7lqyACoKDbtJ8WtcIYmT11r4SP9nEW" width="600" height="450"></center><br>
</div>
{% endblock %}