{% extends "layout.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Música</title>
    </head>
    <body>
        <div class="container p-4">
            <h1>Bienvenidos a Música</h1><br>
            <h3>Formación de acordes</h3> 
            <p>
                Para su construcción es importante tomar en cuenta sobre que fundamental vamos a trabajar y si este será un acorde de quinta, mayor, menor, aumentado, disminuido, con cuarta o segunda suspendida, de séptima y una infinidad más posibilidades.
            </p> 
            <p>
                Sin embargo hoy presentaremos dos fórmulas sencillas para los acordes mayores y menores sobre la fundamental <mark>A</mark>
            </p>
           <h4>Mayor</h4>
           <p>
               <mark>Mayor</mark> =3M+3m<br>
               Donde 3M=2T (Dos tonos completos) y 3m=1(1/2)T (Un tono y medio)<br>
               Por lo que nuestro acorde de La mayor tendrá estas notas: <mark>A(La)</mark> <mark>C#(Do sostenido)</mark> <mark>E(Mi)</mark>
           </p><br>
           <h4>Menor</h4>
           <p>
               <mark>Menor</mark> =3m+3M<br>
               <p>Simplemente cambiamos el orden de la operación. Prueba uno. </p>
               Donde 3M=2T (Dos tonos completos) y 3m=1(1/2)T (Un tono y medio)<br>
               Por lo que nuestro acorde de La menor tendrá estas notas: <mark>A(La)</mark> <mark>C(Do)</mark> <mark>E(Mi)</mark>
           </p><br>
           <center><img src="https://static.vecteezy.com/system/resources/previews/001/893/564/non_2x/girl-listening-to-music-cute-cartoon-headphones-drawing-vector.jpg" width="550" height="450"></center>
        </div><br>
    </body>
    </html>
{% endblock %}