{% extends "layout.html" %}
{% block content %}

<div class="container">
<h1>Bienvenidos a química</h1><br>
<h2>Recetas deliciosas que ayudaran a tu sistema inmune</h2><br>
</div>
<center>
    <img src="https://lh6.googleusercontent.com/vl1xesCeNN46v51kn9-Esra6V2RFWWI2TMTILjG_5fhdZVG7lhtng1dkFT7rVjC6Rqfqhs6APdwAla0hVHSvdGNcFDw8W-4vgGWKMd4DGHMOFoL-fVw-TYGu1wBmjHWWTzSk1egl" width="950" height="450">
</center><br>
<div class="container">
<p>
    Un aspecto básico para evitar distintas enfermedades es mantener un sistema de defensas en excelente estado, de esta forma mantenemos fuera del cuerpo a microorganismos como las bacterias, hongos y virus. 
</p>
<p>
    Si bien la alimentación es determinante para lograr un sistema inmunológico fortalecido, hay otras situaciones que lo afectan como el estrés y la ansiedad. Ambos pueden afectar la capacidad de nuestro sistema inmunológico y favorecer la aparición o contagio de diversas enfermedades. 
</p>
<p>
    Cómo fortalecer el sistema inmune en el día a día: 
</p>
<p>
    Hay aspectos del estilo de vida que pueden afectar la función protectora del sistema inmune, tales como como la falta de actividad física, el consumo de alcohol, ser fumador y tener una alimentación poco o nada saludable.</p>

   <p>Los nutrientes que obtenemos a través de los alimentos, cumplen un papel muy importante en el desarrollo y buen estado de nuestro sistema inmune. En el caso de presentarse un déficit o falta de algún nutriente este sistema verá disminuida su capacidad de defendernos. </p>

   <p>A continuación, te presentaremos algunos platillos que puedas degustar que te ayudan al fortalecimiento del sistema inmune:</p>
</p>
<h3>Ensalada de zanahoria</h3><br>
 <center><img src="https://lh5.googleusercontent.com/Jv6eTBtAzoLsyO7JbXlg2F7ozCxeULj9Vrck_fUXtvUV-DcXBLl0ziWUx2ypmYBT_eEYTab1LF4gl0o4hhnynAgscyneqoKkHeE6uTYKpSDTaIwLPvK7xasQ8Rejda7Cb9zHiulO" width="350" height="200"> </center><br>
<p>
    Esta deliciosa ensalada de zanahoria esta hecha principalmente por zanahoria, manzana verde, pasas y un poco de crema agria, siendo la zanahoria rica en vitamina A. 
</p>
<p>
    Las células madre de la zanahoria son ricas en betacaroteno, también llamado provitamina A, que en el organismo se transforma en retinol o Vitamina A. Estos compuestos reparan las células dañadas por los efectos ambientales, y así fortalecen y revitalizan las uñas y el pelo. 
</p>
<h5>Vitamina A</h5><br>
</div> 
<center>
    <img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-OGA1ND-N_vOA-44CaVBfNIMMxsahFplDy3ikDVwYVxCkfrwKUjzsKywct62h-UvviVD7EYrvq7bqApe6lGTunaQMYkgGSqS_3RZyU" width="350" height="200"><br>
</center>
<div class="container">
<p>
    La vitamina A es una vitamina liposoluble que se encuentra naturalmente presente en los alimentos. La vitamina A ayuda a la formación y al mantenimiento de dientes, tejidos blandos y óseos, membranas mucosas y piel sanos. Se conoce también como retinol, ya que produce los pigmentos en la retina del ojo. La vitamina A es importante para la visión normal, el sistema inmunitario y la reproducción. Además, la vitamina A ayuda al buen funcionamiento del corazón, los pulmones, los riñones y otros órganos. 
</p>
<p>
    Existen dos tipos diferentes de vitamina A. El primer tipo, la vitamina A preformada, se encuentra en la carne vacuna, carne de ave, pescado y productos lácteos. El segundo tipo, la provitamina A, se encuentra en frutas, verduras y otros productos de origen vegetal. El tipo más común de provitamina A presente en los alimentos y los suplementos dietéticos es el betacaroteno. 
</p>
<p>
    Relación con el sistema inmune:
</p>
<p>
    La vitamina A también cumple un rol en los procesos de inmunidad adquirida. En esta parte del sistema inmunitario existen dos grupos de células llamadas linfocitos B y linfocitos T que son fundamentales en el proceso de defendernos contra virus y bacterias. Ambas células necesitan vitamina A para funcionar correctamente, por lo que la generación de anticuerpos y la respuesta a largo plazo a virus y bacterias se ve limitada en cuadros carenciales de vitamina A. 
</p>
<h3>Pancakes de Banana </h3>
</div>
<center>
    <img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-MdzxREV4vG-huY9a6AgaJKFYfUs9C714P_7DGdjiecd9wXmw-jLqkVSsLhZtIAy8U7X1co6TTSSlEI-kJGuafWQzYSjZIZdRHOYFU" width="350" height="200">
</center><br>
<div  class="container">
 <p>
    Pancakes hechos base de banana que es un alimento beneficioso para todo el mundo, incluidas las personas diabéticas o con sobrepeso. Destaca por su contenido en hidratos de carbono, potasio, magnesio, ácido fólico y fibra, aparte de ser ricos en Vitamina B6, le ayuda al cuerpo a producir anticuerpos. Estos son necesarios para combatir muchas enfermedades. Mantener la función neurológica normal. 
 </p>

<h5>Vitamina B6</h5>
<center>
    <img src="https://lh4.googleusercontent.com/cvoCoVrRkIdq1yP26aZSs3MTKnA1HiHCFq6B7NTT9vyNa1dymlHXlCoUzgh3LwiQslAfs0k-qY4CmJT3ErwhrStkOmXGgHTcdyo6zW6iTmS8z1dSqUj0IlMdISzkGFX9rEedsP5r" width="350" height="200"> </center><br>
</center>
    <p>
        La vitamina B6 es una vitamina hidrosoluble. Las vitaminas hidrosolubles se disuelven en agua por lo que el cuerpo no las puede almacenar. Las cantidades sobrantes de la vitamina salen del cuerpo a través de la orina. Aunque el cuerpo mantiene una pequeña reserva de vitaminas solubles en agua, es necesario tomarlas regularmente. Eso quiere decir que usted necesita un suministro regular de estas vitaminas en la dieta.  
    </p>
    <p>
        La vitamina B6 le ayuda al cuerpo a: 
    </p>
    <p>
        Producir anticuerpos, Estos son necesarios para combatir muchas enfermedades, Mantener la función neurológica normal. Producir hemoglobina. La hemoglobina transporta el oxígeno en los glóbulos rojos hasta los tejidos. Una deficiencia de vitamina B6 puede causar una forma de anemia. Descomponer proteínas. Cuanto mayor sea el consumo de proteínas, mayor será la cantidad de vitamina B6 que necesite. Mantener el azúcar (glucosa) en la sangre en los rangos normales. 
    </p>
    <p>
        Relación con el sistema inmune:
    </p>
    <p>
        La vitamina B6 es una vitamina involucrada, entre otras funciones, en el metabolismo de aminoácidos y proteínas. Y como los anticuerpos son proteínas muy sofisticadas, si hay carencia de vitamina B6 la producción de anticuerpos no será tan adecuada como en presencia de cantidades óptimas de esta vitamina. La vitamina B6 o piridoxina también tiene un rol importante en la diferenciación, maduración y proliferación de linfocitos: el aporte adecuado de vitamina B6 permite que tengamos la cantidad y calidad necesaria de células de defensa. 
    </p>
    <h3>Ensalada de brocoli con carne de res </h3><br>
    <center> <img src="https://lh3.googleusercontent.com/l35hAm3dDvoNpoAVL8UlKm41h2O163ub33xg4YuJTgMUNIAWA_13Tw3AHjTt7xbHqVuBoKXkoxj_HXg9P1S_AiB3XzfIBcpCzJy80BTxaIr5DjK33tKprZlVhkVRrhHS0QZ4sTLS" width="350" height="200"></center><br>
    <p>
        Una ensalada rica en vitamina B12 con la carne, esta al contener esta vitamina hace la formación normal de glóbulos rojos y el metabolismo normal de la homocisteína, compuesto necesario para el funcionamiento normal del sistema nervioso, y rica en vitamina C con el brócoli, su alto poder antioxidante se debe principalmente a los beta-carotenos, isocianatos y la vitamina C, contiene ácido fólico y también destaca por su alto contenido en fibra. Otra de sus ventajas es que aporta pocas calorías y pocas grasas. 
    </p>
    <h5>Vitamina B12</h5><br>
    <center> <img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-MZXGHP2Pir4jGxvkVUj-DjWE73OLPoiWM5Yi1dWU3fBOMsmCrNjcv0__xPyBFakOzXxafuYMMhjulnwUkiOdU-W9t84FcHFt8JBp4" width="350" height="400"></center><br>
    <p>
        La vitamina B12 es una vitamina hidrosoluble esencial para el funcionamiento normal del cerebro, del sistema nervioso, y para la formación de la sangre y de varias proteínas. 
    </p>
    <p>
        La vitamina B12, al igual que las otras vitaminas del complejo B, es importante para el metabolismo de proteínas. Ayuda a la formación de glóbulos rojos en la sangre y al mantenimiento del sistema nervioso central, un nutriente que ayuda a mantener sanas las neuronas y los glóbulos sanguíneos. Además, contribuye a la elaboración del ADN, el material genético presente en todas las células.
    </p>
    <p>
        Relación con el sistema inmune:
    </p>
    <p>
        La vitamina B12, se ha hecho conocida por su implicación en el dolor de espalda y la anemia megaloblástica, un tipo de anemia que existe en cuadros carenciales de vitamina B12. En el caso del sistema inmunitario se ha visto que la vitamina B12 está muy relacionada con las células NK y facilita la producción de linfocitos T, entre otras funciones. 
    </p>
    <h5>Vitamina C</h5>
    <center> <img src="https://lh6.googleusercontent.com/T07_Csn653vZYL8wqxg1udx4g0q-ALvWPAjjEwomqeNVutIvnYxRcC1ugeLVAMwIQqLMYoScffS95tI5xMBtP9VB8g9z0Wb7GnRngoR7sOLUvRQngLKZfHc2sY-sBH2sj7EeCiie" width="350" height="200"> </center><br>
    <p>
        La vitamina C, enantiómero S del ácido ascórbico o antiescorbútica, se necesita para el crecimiento y reparación de tejidos en todas las partes del cuerpo. Se utiliza para: Formar una proteína importante utilizada para producir la piel, los tendones, los ligamentos y los vasos sanguíneos. Sanar heridas y formar tejido cicatricial. Antioxidante hidrosoluble altamente eficaz que opera en las fases acuosas, tanto intra como extracelulares. Puede regenerar otros antioxidantes.
    </p>
    <p>
        Relación con el sistema inmune:
    </p>
    <p>
        Mejora la integridad de la barrera epitelial, promoviendo la síntesis de colágeno. 
        Mantiene el estado oxidativo de las células y protege contra las especies reactivas del oxígeno generadas durante el estallido respiratorio y la respuesta inflamatoria. Estimula las funciones de los leucocitos (neutrófilos, y movimiento de los monocitos). Regula la respuesta inmunitaria a través de sus propiedades antivirales y antioxidantes. Reduce la duración y severidad del resfriado común. Reduce la incidencia del resfriado común y la neumonía en sujetos que practican ejercicio físico intenso o que viven en entornos con mucha gente. 
    </p>
    <h3>Filete de Salmon asado</h3>
    <center><img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-N6Qvc0933fYjNl-CjrAnqbEa59SjF7rBm2MLTfe_FY1lqYvMxa8CoJq_HTAdc61o4CN_1p8eEp2NNeR11aPnOIG2ZgxJdQpJemPw"  width="350" height="200"> </center><br>
    <p>
        Este platillo teniendo como ingrediente principal siendo el salmón rico en vitamina D esta ayuda a los niños a formar huesos fuertes y previene enfermedades óseas como el raquitismo. Ayuda a los adultos a evitar condiciones como osteoporosis que debilitan los huesos y pueden hacer que éstos se quiebren. 
        Vitamina D.
    </p>
    <h5>Vitamina D</h5>
    <center><img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-MxTOB2OrnMthYNYeffiztwFbtHs4iuPk2UjPXrvFqdNEBR4bd2Khwy1owkX6rXhSKCaR3xG2WI8njdL0H7TXgCIya7PYm3EGAzNQ" width="350" height="200"></center><br>
    <p>
        La vitamina D ayuda al cuerpo a absorber el calcio, uno de los principales elementos que constituyen los huesos. La deficiencia de vitamina D puede llevar a enfermedades de los huesos como la osteoporosis o el raquitismo. La vitamina D juega un papel importante en los sistemas nervioso, muscular e inmunitario. Puede obtener vitamina D de tres maneras: a través de la piel, de la dieta y de suplementos. Su cuerpo forma la vitamina D naturalmente después de la exposición al sol. Sin embargo, demasiado sol puede llevar al envejecimiento y el cáncer de la piel, así que muchas personas tratan de obtener su vitamina D de otras fuentes. Los pescados grasos, como la trucha, el salmón, el atún y la caballa, así como los aceites de hígado de pescado, se encuentran entre las mejores fuentes naturales de vitamina D. 
    </p>
    <p>
        Los alimentos ricos en vitamina D incluyen yemas de huevo, pescado de agua salada e hígado. Otros alimentos, como la leche y el cereal, muchas veces están enriquecidos con vitamina D. 
    </p>
    <p>
        Relación con el sistema inmune:
    </p>
    <p>
        Entre sus funciones, la vitamina D tiene una función reguladora en la homeostasis del calcio y del fósforo, pero además tiene un papel relevante en la modulación de la respuesta inmune. Para ello, la vitamina D se une a un receptor específico que se puede encontrar en diferentes tejidos y en el sistema inmune, tales como las células dendríticas, macrófagos, linfocitos T CD8+, CD4+ y linfocitos B.
    </p>
    <p>
        En el marco de la inmunidad innata, el calcitriol puede incrementar los efectos antimicrobianos de monocitos y macrófagos, aumentando su capacidad de fagocitosis, quimiotaxis y la síntesis de péptidos antimicrobianos. La vitamina D es por ejemplo muy importante en el control de las infecciones. 
    </p>
    <h3>Pan de aceite de oliva </h3>
    <center> <img src="https://lh3.googleusercontent.com/keep-bbsk/AGk0z-NLqEgnhrrUFwS-xVBpe2NXKE0z9xMOim3cz_FWfK5WwlAddLHMtjNX2wZWgbr_Y_XWo1Y30-BH6urcz__vRs95j5j9E7_S831OFxI" width="350" height="200"> </center><br>
    <p>
        Este platillo de pan de aceite oliva es rico en vitamina E que contiene el aceite de oliva virgen extra son muy importantes para la salud cerebral. Además, los polifenoles pueden proteger el cerebro de la oxidación causada por toxinas. 
    </p>
    <h5>Vitamina E</h5>
    <center><img src="https://lh3.googleusercontent.com/yTN9qOPVqhA2vo05xtpLMibNVnVJ_QSEg2Cl5UFOw2KWF65YxNOmrkIApgiisyMb3uY_oKNIZwbxY-OKdnvpJ3nOQmogDZofx_mxmSMNcGneFXinhOPDq6mtjir_mUDbyblIEYmT" width="350" height="200"> </center><br> 
    <p>
        La vitamina E es un nutriente liposoluble presente en muchos alimentos. En el cuerpo, actúa como antioxidante, al ayudar a proteger las células contra los daños causados por los radicales libres. Los radicales libres son compuestos que se forman cuando el cuerpo convierte los alimentos que consumimos en energía. Es un antioxidante. Eso significa que protege el tejido corporal del daño causado por sustancias llamadas radicales libres. Los radicales libres pueden dañar células, tejidos y órganos. El cuerpo también necesita vitamina E para ayudar a mantener el sistema inmunitario fuerte frente a virus y bacterias. La vitamina E también es importante en la formación de glóbulos rojos. Ayuda al cuerpo a utilizar la vitamina K. También ayuda a dilatar los vasos sanguíneos y a impedir que la sangre se coagule dentro de ellos. 
    </p>
    <p>
        La vitamina E se encuentra en los siguientes alimentos: Aceites vegetales de maíz (como los aceites de germen de trigo, girasol, cártamo, maíz y soya). Nueces (como las almendras, el maní y las avellanas). Semillas (como las semillas de girasol). Hortalizas de hoja verde (como las espinacas y el brócoli). 

    </p>
    <p>
        Relación con el sistema inmune:
    </p>
    <p>
        El organismo también necesita la vitamina E para estimular el sistema inmunitario a fin de que éste pueda combatir las bacterias y los virus que lo invaden. Ayuda a dilatar los vasos sanguíneos y evitar la formación de coágulos de sangre en su interior. 
    </p><br>
</div>

{% endblock %}
