{% extends "layout.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sociales</title>
    </head>
    <body>
        <div class="container">
            <h1>Bienvenido a Sociales</h1>
            <h2>Informe difgital</h2><br>
            <h3>Justificación</h3><br>
            <p>
                Según informes de la Organización Mundial de la Salud (OMS), “una dieta saludable ayuda a protegernos de la malnutrición en todas sus formas, así como de las enfermedades no transmisibles, como la diabetes, las cardiopatías, los accidentes cerebrovasculares y el cáncer”. Para ayudarnos a llevar una dieta saludable se han utilizado desde hace tiempo varias representaciones gráficas que recogían la frecuencia recomendada de los distintos grupos de alimentos. 
            </p>
            <p>
                Las últimas directrices sobre dietas basadas en alimentos adoptan una perspectiva novedosa sobre las recomendaciones nutricionales y son diferentes a cualquier otra guía oficial utilizadas hasta ahora, entre ellas encontramos “El Plato para Comer Saludable”, creado por expertos en nutrición de la Escuela de Salud Pública de Harvard y los editores en Publicaciones de Salud de Harvard, es una guía para crear comidas saludables y equilibradas.
            </p>
            <center><img src="https://lh4.googleusercontent.com/qnYGHB6_6QVXX-sYHHWjRroSOZElbbdO9vTO_Pb44AqATpBFerDC5Tmw6yONi3SrdmiiNMYxnuMZ8HOARsuifmx_Zw0OtK2vTkRWr-WZWiwE6obQ1NWd4f5eYug_ZhpKSksy0VTB" width="500" height="450"> </center><br>
            <h2>Las recomendaciones se pueden resumir en: </h2><br>
            <p>
                <mark>Haga que la mayoría de sus comidas sean verduras y frutas – ½ de su plato:</mark> intente incorporar color y variedad, y recuerde que las patatas no cuentan como una verdura.
            </p>
            <p>
                <mark> Escoja cereales integrales – ¼ de su plato:</mark> elegir pan, pasta y arroz integrales.
            </p>
            <p>
                <mark>El valor de la proteína – ¼ de su plato:</mark> pescado, pollo, huevos, legumbres (habichuelas/leguminosas...), y nueces son fuentes de proteínas saludables y versátiles, pueden ser mezcladas en ensaladas, y combinan bien con vegetales en un plato. Limite las carnes rojas, y evite carnes procesadas como tocino (bacon) y embutidos (salchichas).
            </p>
            <p>
                <mark> Aceites de plantas saludables – en moderación:</mark> aceite de oliva, soja, maíz, girasol y evite las grasas trans, no saludables.
            </p>
            <p>
                <mark>Tome agua, café, o té:</mark> Omita las bebidas azucaradas, limite la leche y productos lácteos a una o dos porciones al día, y limite los zumos a un vaso pequeño al día.
            </p>
            <p>
                <mark>Manténgase activo:</mark> la figura roja corriendo sobre el mantel de el plato para comer saludable es un recordatorio de que mantenerse activo también es importante en el control de peso. 
            </p>
            <p>
                Una nueva perspectiva para seguir una dieta saludable en 10 pasos:
            </p>
            <p>
                1. Hacer de los alimentos naturales o mínimamente procesados la base de la alimentación. 
            </p>
            <p>
                2. Utilizar aceites, grasas, sal y azúcar en pequeñas cantidades al condimentar y cocinar los alimentos y crear preparaciones culinarias.
            </p> 
            <p>
                3. Limitar el consumo de alimentos procesados (embutidos, panes especiales...) 
            </p>
            <p>
                4. Evitar el consumo de alimentos ultraprocesados (galletas rellenas, snacks, platos preparados…)
            </p>
            <p>
                5. Comer con regularidad y atención, en ambientes apropiados y, siempre que sea posible, acompañado, evitando picoteos y disfrutando de la comida.
            </p>
            <p>
                6. Hacer compras en lugares que ofrezcan variedades de alimentos naturales o mínimamente procesados, mejor en mercados y de productores locales.
            </p>
            <p>
                7. Desarrollar, ejercitar y compartir habilidades culinarias, así fomentaremos el interés por la cocina en los demás. 
            </p>
            <p>
                8. Planear el uso del tiempo para dar a la alimentación el espacio que merece, planificar la compra, organizar la despensa, definir el menú semanal…
            </p>
            <p>
                9. Al comer fuera de casa, preferir lugares que sirvan comidas hechas en el momento.
            </p>
            <p>
                10. Ser crítico respecto a la información, orientaciones y mensajes sobre la alimentación difundidas en la publicidad, recurrir siempre a fuentes serias y contrastadas.
            </p>
            <h3>Preguntas de investigación: </h3><br>
            <p>
                1. ¿ Cómo influye la alimentación en temas de educación nutricional?
            </p>
            <p>
                2. ¿Qué tanto impacto provocan nuestras malas decisiones en nuestra salud?
            </p>
            <p>
                <mark>Objetivo general:</mark> Informar al usuario sus datos de IMC para ayudarlo a seguir una buena alimentación y mantener en alto su sistema inmune
            </p>
            <p>
                <mark>Objetivos específicos:</mark> Dar a conocer la importancia de mantener una vida saludable e informada en el área de la alimentación. Brindar una dieta acorde a la condición de la persona, ya sea para subir, bajar de peso o mantenerse, así pueda estar dentro de las estadísticas ideales.
            </p>
            <h3>Marco teórico</h3><br>
            <p>
                Por medio de unas preguntas como estatura y peso, se calculará el IMC (Índice de masa corporal) en base a esto, se le darán tres opciones de dieta adecuada al usuario con distintos objetivos, subir, bajar o mantener su peso actual, si el programa detecta que la composición corporal (ver tabla) es inferior o superior a lo normal, daría una recomendación para que el usuario tenga en cuenta cual es la opción más conveniente para su cuerpo.
            </p><br>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Composición corporal</th>
                      <th scope="col">Índice de masa corporal (IMC)</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Peso inferior al normal</td>
                      <td>Menos de 18.5</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Normal</td>
                      <td>18.5 - 24.9 </td>
                    
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Peso superior a lo normal</td>
                        <td>25.0 - 29.9</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Obesidad</td>
                        <td>Más de 30.0</td>
                    </tr>
                  </tbody>
              </table><br>
            <h3>Hipótesis</h3>
            <p>
                Con la implantación del sitio web que incorpora información sobre la correcta alimentación con estándares de peso, estatura y edad, también se tendrá mayor difusión de las posibles actividades físicas con un sistema de recomendaciones dependiendo de los datos que sean ingresados.
            </p><br>
        </div>
    </body>
    </html>
{% endblock %}