{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="list-group">
      <a href="/biologia" class="list-group-item list-group-item-action list-group-item-primary">Biología</a>
      <a href="/quimica" class="list-group-item list-group-item-action list-group-item-secondary">Química</a>
      <a href="/ccff" class="list-group-item list-group-item-action list-group-item-success">Ciencias Físicas</a>
      <a href="/informatica" class="list-group-item list-group-item-action list-group-item-danger">Informática</a>
      <a href="/matematica" class="list-group-item list-group-item-action list-group-item-warning">Matemáticas</a>
      <a href="/sociales" class="list-group-item list-group-item-action list-group-item-info">Sociales</a>
      <a href="/lenguaje" class="list-group-item list-group-item-action list-group-item-light">Lengua y Literatura</a>
      <a href="/literatura" class="list-group-item list-group-item-action list-group-item-dark">Literatura Española</a>
      <a href="/geografia" class="list-group-item list-group-item-action list-group-item-primary">Geografía</a>
      <a href="/musica" class="list-group-item list-group-item-action list-group-item-secondary">Música</a>
      <a href="/plastica" class="list-group-item list-group-item-action list-group-item-success">Plástica</a>
      <a href="/opv" class="list-group-item list-group-item-action list-group-item-danger">OPV</a> 
     
    </div>
</div>
{% endblock %}